main {
  font-family: sans-serif;
  max-width: 1024px;
}

img {
  max-width: 150px;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}

button[type='submit'] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

.highlight {
  background-color: rgb(245, 237, 86);
  border-radius: 5px;
  padding: 0 5px;
}